# Secrets : ne jamais versionner
.env

# Environnement virtuel Python
.venv/

# Fichiers générés automatiquement par Python
__pycache__/
*.pyc

# Fichiers générés par « pip install -e . » (installation du projet en mode éditable)
*.egg-info/

# Fichiers générés par dbt
data-platform/dbt/target/
data-platform/dbt/dbt_packages/
data-platform/dbt/logs/
/logs/
data-platform/dbt/.user.yml
